# Build folders
bin/
obj/
.vs/

# User files
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
packages/

# Logs and temporary files
*.log
*.tlog
z
# Publish folder
publish/

# Secrets / Environment
appsettings.Development.json
appsettings.Local.json
.env

# IDE / Editor
.vscode/
.idea/
